{% load django_bootstrap5 %}
{% bootstrap_css %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>

<body>
    <div class="page-header custom">
        <h1>My personal library info</h1>
    </div>

    <div>
        {% if user.username %}  
        <h1>Привет, {{ user.username }}!</a>!</h1>  
        <p>Тут ты можешь <a href="accounts/logout">выйти</a>.</p>  
        {% else %}  
        <p>Тебе нужно <a href="accounts/signup/">зарегистрироваться</a> или <a href="accounts/login/">войти на сайт</a>!</p> 
        {% endif %}  
    </div>
    
    <div>
        {% block content %}
            
        {% endblock %} 
    </div> 
</body>
</html>